<header>
  <h1>
    Welcome to Shine
    <%= current_user.email %>
  </h1>
</header>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.<br>
  

<% if current_user.admin %>
	<%= form_tag("/search", method: "post") do %>
  		<%= label_tag(:q, "Email:") %>
  		<%= text_field_tag(:q) %>
  	<%= submit_tag("Submit") %>
	<% end %>
<% end %>

<%= link_to "Logout", destroy_user_session_path, method: :delete,
   :class => 'navbar-link'  %>

<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>